///////////////////////////////////////////////////
//
// Project specific variables
//
///////////////////////////////////////////////////

@project-path: "/sites/rework/wwwroot/img/";

///////////////////////////////////////////////////
//
// Project custom styles
//
///////////////////////////////////////////////////

.rework-wrap {
  .size(100%, auto);
  position: relative;
  margin: auto;
  font-family: @font-stack;

/////////////.nav-bar//////////////////

.nav-bar {
  text-align: center;
}
/////////////.header//////////////////

  .header {
    text-align: center;
  
     h1 {
      font-size: 4em;
     }
  }

///////////////.etsy//////////////////

  .etsy {
    width: 100%;
    left: 100px;
    background-color: blue;
  }

///////////////.footer//////////////////

  .footer {
    text-align: center;
    font-size: 0.7em;
  }
}
//
// The .dev class is only used during development
// and auto shows you additional links in the s2
// Remove the class in the source when it is
// ready to be built.
//

.dev {
  a:not(.bg) {
    background-color: yellow;
    .opacity(.5);
  }
}

//
// IE conditional class names
// 

&.lt-ie10  {
  
}

&.lt-ie9  {
  
}