///////////////////////////////////////////////////
//
// Project specific variables
//
///////////////////////////////////////////////////

///////////////////////////////////////////////////
//
// Project custom styles
//
///////////////////////////////////////////////////

.rework-wrap {
  max-width: 100%;
  position: relative;
  margin: auto;
  font-family: @font-stack;

  // > div {
  //   position: relative;
  //   overflow: hidden;

  //   h1,h3,p {
  //     position: absolute;
  //     top: 150%;
  //   }

  //   a {
  //     position: absolute;
  //     display: block;
  //     .ir();
  //   }
  }

.filigree {
  .size(100%, 28px);
  background-image: url('/img/owl_dot.png');
  opacity: .6;
  margin-bottom: .2em;
}

/////////////.nav-bar//////////////////

.nav-bar {
  text-align: center;
  margin: .6em;

  button:hover,
  .dropdown-menu>li>a:hover {
    background-color: turquoise;
    opacity: .7;
    font: bold;
  }

  .btn-default {
    margin: .1em;
  }

  .btn-md {
    color: sienna;
  }
}

.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

/////////////.header//////////////////

  .header {
    .size(100%, 700px);
    overflow: hidden;

     h1 {
      font-size: 3.5em;
     }
  }

///////////////////////////////////
////////.slideshow content/////////
///////////////////////////////////

  .flexsider {
    border: none;
  }

  .slideshow {
    position: relative;

    .slides > li {
      .size(100%, 700px);
      // display: block;
      position: relative;
      background-repeat: no-repeat;
      background-position: center; 
    }

    .slide-1 {
      background-image: url('/img/slide_1.png');
    }

    .slide-2 {
      background-image: url('/img/slide_2.png');
    }

    .flex-prev {
      .size(30px, 120px);
      margin-left: 1px;
    }

    .flex-next {
      .size(30px, 120px);
      margin-right: 1px;
    }

    .flex-direction-nav a {
      top: 40%;
      z-index: 100;
    }
  }

///////////////.about//////////////////
 
  .about {
    .size(100%, auto);
    max-width: 960px;
    min-width: 280px;
    // background-image: url('/img/rework_about.jpg');
    background-repeat: no-repeat;
    margin: auto;
    position: relative;
    padding: .5em 0;
    overflow: hidden;
  }

  .rework-copy {    
    max-width: 95%;
    min-width: 280px;
    margin: auto;
    border: .1em solid sienna;
    border-radius: 2em;
    padding: 2em;
    opacity: .6;
    // position: relative;
    // top: 50%;
    // transform: translateY(-50%);

    p {
      font-size: 1.1em;
      color: black;
      opacity: 1;
    }
  }

///////////////.contact//////////////////

.contact-form {
  .size(100%, auto);
  overflow: hidden;
  max-width: 305px;
  min-width: 280px;
  padding: 3em;
  margin: auto;
  border: .1em solid sienna;
  border-radius: 2em;
  text-transform: uppercase;
  color: sienna;

  label,
  input {
    margin-bottom: 1em;
  }

  button {
    margin-top: 1em;
    color: sienna;
    background-color: white;
  }
}

///////////////.etsy//////////////////

.etsy {
  .size(100%, 1970px);
  overflow: hidden;
  // background-color: blue;

  iframe {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

///////////////.footer//////////////////

.footer {
  .size(100%, 50px);
  text-align: center;
  font-size: 0.7em;
  padding: 10px 0px 5px 0px;
}

///////////////.dev//////////////////
// The .dev class is only used during development
// and auto shows you additional links in the s2
// Remove the class in the source when it is
// ready to be built.
//

.dev {
  a:not(.bg) {
    background-color: yellow;
    .opacity(.5);
  }
}

//
// IE conditional class names
// 

&.lt-ie10  {
  
}

&.lt-ie9  {
  
}