.rework-wrap {
  width: 100%;
  min-width: 320px;
  max-width: 1024px;
  position: relative;
  margin: auto;
  font-family: arial, helvetica, sans-serif;
}

.rework-wrap .nav-bar {
  width: 100%;
  max-width: 1024px;
  height: 4.7rem;
  text-align: center;
  padding: .6rem 0;
  position: fixed;
  top: 0px;
  background-color: sienna;
  z-index: 2;
  border-bottom: solid 1px sienna;
}

.rework-wrap .nav-bar .btn {
  padding: .6rem .8rem;
}

.rework-wrap .nav-bar button:hover {
  background-color: white;
  font: bold;
  color: sienna;
}

.rework-wrap .nav-bar .btn-group {
  padding: 0em 1rem 1rem 1rem;
  min-width: 320px;
}

.rework-wrap .nav-bar .btn-pills {
  color: white;
  margin: 0rem 3rem;
  background-color: sienna;
  border: 1px solid sienna;
}

.rework-wrap .nav-bar .btn-pills.active {
  color: sienna;
  background-color: white;
}

.rework-wrap .sidebar-nav {
  padding: 9px 0;
}

.rework-wrap .main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-top: 4.7rem;
}

.rework-wrap .main img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.rework-wrap .main h1 {
  font-size: 3.5em;
}

.rework-wrap .about {
  width: 100%;
  height: auto;
  max-width: 90%;
  min-width: 320px;
  background-repeat: no-repeat;
  margin: auto;
  position: relative;
  padding: .5em 0;
  overflow: hidden;
}

.rework-wrap .about .rework-copy {
  max-width: 95%;
  min-width: 280px;
  margin: auto;
  padding: 1em;
  opacity: .6;
}

.rework-wrap .about .rework-copy p {
  font-size: 1em;
  color: black;
  opacity: 1;
  float: right;
}

.rework-wrap .store {
  width: 85%;
  height: auto;
  margin: auto;
  overflow: hidden;
  margin-top: 1rem;
}

.rework-wrap .store tr span {
  color: sienna;
}

.rework-wrap .contact-form {
  width: 100%;
  height: auto;
  overflow: hidden;
  max-width: 85%;
  min-width: 280px;
  padding: 0em 0em 1em 0em;
  margin: 0em auto 1em auto;
  opacity: .8;
  text-transform: uppercase;
  color: sienna;
  text-align: center;
  font-size: .9em;
  border-top: solid 1px sienna;
}

.rework-wrap .contact-form div {
  display: inline-block;
}

.rework-wrap .contact-form label {
  font-size: .9em;
}

.rework-wrap .contact-form input {
  margin: 1em;
}

.rework-wrap .contact-form button {
  margin: 3em 1em 0.5em 1.5em;
  color: sienna;
  background-color: white;
  font-weight: bold;
  font-size: .9em;
  height: 3em;
  bottom: 0px;
}

.rework-wrap .contact-form textarea#msg {
  margin: 0em 0em -2em 1em;
  height: 4em;
  width: 15em;
}

.rework-wrap .contact {
  margin-top: 5em;
}

.rework-wrap .social {
  margin: 2em 0 1em 0;
}

.rework-wrap .social a {
  padding: 1em;
}

.rework-wrap .footer {
  width: 100%;
  height: 3em;
  text-align: center;
  font-size: .7em;
  padding: .4em .3em .7em .3em;
  background-color: white;
}

.dev a {
  background-color: yellow !important;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}