.rework-wrap {
  width: 100%;
  max-width: 100%;
  position: relative;
  margin: auto;
  font-family: arial, helvetica, sans-serif;
}

.filigree {
  width: 82%;
  height: 1px;
  background-color: sienna;
  opacity: .6;
  margin-bottom: .2em;
  margin-left: auto;
  margin-right: auto;
}

.nav-bar {
  height: 40px;
  text-align: center;
  margin: .6em;
}

.nav-bar button:hover,
.nav-bar button:focus,
.nav-bar button:active,
.nav-bar button:visited {
  background-color: turquoise;
  opacity: .7;
  font: bold;
}

.nav-bar .btn-group {
  background: white;
  padding: 0em 1em 1em 1em;
}

.nav-bar .btn-pills {
  color: sienna;
  margin: .1em;
  background-color: white;
  border: 1px solid sienna;
}

.sidebar-nav {
  padding: 9px 0;
}

.header {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.header h1 {
  font-size: 3.5em;
}

.flexsider {
  border: none;
}

.slideshow {
  position: relative;
}

.slideshow .slides > li {
  width: 100%;
  height: 600px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
}

.slideshow .slides > li img {
  width: 100%;
  max-width: 100%;
}

.slideshow .slide-1 {
  background-image: url('/img/slide_1.jpg');
  height: 400px;
}

.slideshow .slide-2 {
  background-image: url('/img/slide_2.jpg');
}

.slideshow .slide-3 {
  background-image: url('/img/slide_3.jpg');
}

.slideshow .flex-prev {
  width: 30px;
  height: 120px;
  margin-left: 1px;
}

.slideshow .flex-next {
  width: 30px;
  height: 120px;
  margin-right: 1px;
}

.slideshow .flex-direction-nav a {
  top: 40%;
  z-index: 100;
}

.about {
  width: 100%;
  height: auto;
  max-width: 80%;
  min-width: 280px;
  background-repeat: no-repeat;
  margin: auto;
  position: relative;
  padding: .5em 0;
  overflow: hidden;
}

.rework-copy {
  max-width: 95%;
  min-width: 280px;
  margin: auto;
  padding: 2em;
  opacity: .6;
}

.rework-copy p {
  font-size: 1em;
  color: black;
  opacity: 1;
}

.contact-form {
  width: 100%;
  height: auto;
  overflow: hidden;
  max-width: 95%;
  min-width: 280px;
  padding: 0em 0em 2em 0em;
  margin: auto;
  margin-top: .5em;
  opacity: .8;
  text-transform: uppercase;
  color: sienna;
  text-align: center;
  font-size: .9em;
}

.contact-form div {
  display: inline-block;
}

.contact-form label {
  font-size: .9em;
}

.contact-form input {
  margin: 1em;
}

.contact-form button {
  margin: 3em 1em 0.5em 1.5em;
  color: sienna;
  background-color: white;
  font-weight: bold;
  font-size: .9em;
  height: 3em;
  bottom: 0px;
}

.contact-form textarea#msg {
  margin: 0em 0em -2em 1em;
  height: 4em;
  width: 15em;
}

.store {
  width: 85%;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.store tr span {
  color: sienna;
}

.footer {
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: .7em;
  padding: 10px 5px 5px 5px;
}

.dev a:not(.bg) {
  background-color: yellow;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}