.rework-wrap {
  max-width: 100%;
  position: relative;
  margin: auto;
  font-family: arial, helvetica, sans-serif;
  text-align: center;
}

.nav-bar {
  text-align: center;
}

.nav-bar button:hover {
  background-color: turquoise;
  opacity: .6;
}

.nav-bar .btn-default {
  margin: .1em;
}

.sidebar-nav {
  padding: 9px 0;
}

.dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.nav-tabs .dropdown-menu,
.nav-pills .dropdown-menu,
.navbar .dropdown-menu {
  margin-top: 0;
}

.navbar .sub-menu:before {
  border-bottom: 7px solid transparent;
  border-left: none;
  border-right: 7px solid rgba(0, 0, 0, 0.2);
  border-top: 7px solid transparent;
  left: -7px;
  top: 10px;
}

.navbar .sub-menu:after {
  border-top: 6px solid transparent;
  border-left: none;
  border-right: 6px solid #fff;
  border-bottom: 6px solid transparent;
  left: 10px;
  top: 11px;
  left: -6px;
}

.header {
  width: 100%;
  height: 700px;
  overflow: hidden;
}

.header h1 {
  font-size: 3.5em;
}

.flexsider {
  border: none;
}

.slideshow {
  position: relative;
}

.slideshow .slides > li {
  width: 100%;
  height: 700px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
}

.slideshow .slide-1 {
  background-image: url('/img/slide_1.png');
}

.slideshow .slide-2 {
  background-image: url('/img/slide_2.png');
}

.slideshow .flex-prev {
  width: 30px;
  height: 120px;
  margin-left: 1px;
}

.slideshow .flex-next {
  width: 30px;
  height: 120px;
  margin-right: 1px;
}

.slideshow .flex-direction-nav a {
  top: 40%;
  z-index: 100;
}

.rework-copy {
  max-width: 80%;
  min-width: 280px;
  margin: 1em auto;
  background-color: turquoise;
  border: .2em solid;
  border-radius: 2em;
  padding: 1em;
  opacity: .5;
}

.rework-copy p {
  font-size: 1em;
  color: black;
  opacity: 1;
}

.etsy {
  width: 100%;
  height: 1970px;
  overflow: hidden;
}

.etsy iframe {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.footer {
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 0.7em;
  padding: 10px 0px 5px 0px;
}

.dev a:not(.bg) {
  background-color: yellow;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}